*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;

}
img{
    max-width: 100%;
    
}

.container{
    max-width:1140px;
    margin: 0 auto;
}

header{
    background:#ffffff;
    padding: 20px 0;
}
.logo img{
    width:120px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width: 1200px;
    margin: auto;
    padding: 12px 0;
}



ul{
    display:flex;
    list-style:none;
    gap:35px;
    align-items:center;
}

ul li a{
    text-decoration:none;
    color:#888888;
    font-size:14px;
    
}

ul li a:hover{
    color:#2956F2;
}

.common-btn{
    background:#2956F2;
    color:#fff;
    border:none;
    padding:14px 40px;
    border-radius:8px;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    border: 1px solid #1d4ed8FF;

}

.common-btn:hover{
    background:#1d4ed8;
}