*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;

}
img{
    max-width: 100%;
    
}

.container{
    max-width:1140px;
    margin: 0 auto;
}

header{
    background:#ffffff;
    padding: 20px 0;
}


nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    padding: 12px 0;
}



nav ul{
    display:flex;
    list-style:none;
    gap:35px;
    align-items:center;
}

nav ul li a{
    text-decoration:none;
    color:#888888;
    font-size:14px;
    
}

nav ul li a:hover{
    color:#2956F2;
}

.common-btn{
    background: #1d4ed8;;
    color:#fff;
    border:none;
    padding:14px 40px;
    border-radius:8px;
    font-size:15px;
    font-weight:bold;
    cursor:pointer;
    border: 1px solid #1d4ed8FF;
    

}

.common-btn:hover{
    background:#1d4ed8;
}
.banner{
    height: 700px;

    background-image:
        linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
        url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner-content{
    text-align: center;
    color: #ffffff;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

.banner-content h1{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    
    margin-bottom: 30px;
}

.banner-content h1 span{
    font-style: italic;
}

.banner-content p{
    max-width: 760px;
    margin: 0 auto 55px;   
    color: #E5E7EB;
    font-size: 22px;
    font-weight: 400;
    
}
.common-btn.hero-btn{
    margin-top: 240px;
    padding: 16px 75px;
    font-size: 16px;
}


.speakers{
    padding:100px 0;
    background:#ffffff;
}

.section-title{
    text-align:center;
    font-size:56px;
    font-weight:800;
    color:#111827;
    margin-bottom:60px;
}

.speaker-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:28px;
}

.speaker-card{
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:12px;
    overflow:hidden;
    
}

.speaker-card:hover{
    
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.speaker-card img{
    width:100%;
    
    object-fit:cover;
    display:block;
    object-position: top;
}

.speaker-info{
    padding:18px;
}

.category{
    display:block;
    font-size:11px;
    font-weight:700;
    color:#2956F2;
    text-transform:uppercase;
    margin-bottom:10px;
}

.speaker-info h3{
    font-size:28px;
    font-weight:700;
    color:#1F2937;
    margin-bottom:8px;
}

.speaker-info p{
    font-size:15px;
    color:#6B7280;
}

.pricing-section{
    padding:100px 0;
}

.pricing-title{
    text-align:center;
    margin-bottom:55px;
}

.pricing-title h2{
    font-size:52px;
    font-weight:800;
    color:#0D1B2A;
    margin-bottom:12px;
}

.pricing-title p{
    font-size:16px;
    color:#888888;
}


.pricing-cards{
    display:flex;
    justify-content:center;
    gap:24px;
}


.price-card{
    width:360px;
    border:1px solid #E5E7EB;
    border-radius:12px;
    padding:24px;
    background:#fff;
    display:flex;
    flex-direction:column;
}


.price-card.active{
    background:#0D1B2A;
    color:#fff;
    border:none;
}

.plan{
    font-size:12px;
    font-weight:700;
    letter-spacing:1px;
    color:#888888;
    margin-bottom:10px;
}

.active .plan{
    color: #60A5FA;
}

.price-card h3{
    font-size:54px;
    font-weight:800;
    color:#0D1B2A;
    line-height:1;
}

.active h3{
    color:#fff;
}

.per{
    color:#888888;
    font-size:14px;
    margin-top:8px;
}

.active .per{
    color:#C5CBD3;
}

.price-card hr{
    border:none;
    border-top:1px solid #E5E7EB;
    margin:22px 0;
}

.active hr{
    border-color:#25384A;
}


.price-card ul{
    list-style:none;
    flex:1;
}

.price-card ul li{
    position:relative;
    padding-left:18px;
    margin-bottom:16px;
    font-size:15px;
    color:#555;
    line-height:1.5;
}

.price-card ul li::before{
    content:"•";
    position:absolute;
    left:0;
    color:#1D4ED8;
    font-size:18px;
    top:-2px;
}

.active ul li{
    color:#E8E8E8;
}


.price-card button{
    width:100%;
    height:48px;
    border-radius:8px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    
}


.outline-btn{
    background:#fff;
    border:1px solid #1D4ED8;
    color:#1D4ED8;
}

.outline-btn:hover{
    background:#1D4ED8;
    color:#fff;
}


.primary-btn{
    background:#1D4ED8;
    color:#fff;
    border:none;
}

.primary-btn:hover{
    background:#1740b8;
}


.dark-outline-btn{
    background:#fff;
    border:1px solid #0D1B2A;
    color:#0D1B2A;
}

.dark-outline-btn:hover{
    background:#0D1B2A;
    color:#fff;
}
.footer{
    background: #0D1B2A;
    padding: 35px 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    color: #6B7280;
    font-size: 14px;
}

.footer-links{
    display: flex;
    gap: 28px;
}

.footer-links a{
    text-decoration: none;
    color: #6B7280;
    font-size: 14px;
    
}

.footer-links a:hover{
    color: #ffffff;
}
